</div>
</div> 
<footer class="footer">
<div class="block_inner">
	<div class="footer_top">
		<div class="left">
			<div class="phone"><a href="tel:+998781200100">+998 78 120 01 00</a></div>
			<div class="email"><a href="mailto:info@flashup-jackpot.uz">info@flashup-jackpot.uz</a></div>
		</div>
		<div class="social_block">
			<a href="#">
				<picture><source srcset="files/insta.svg" type="image/svg"><img src="files/insta.svg"></picture>
			</a>
			<a href="#">
				<picture><source srcset="files/facebook.svg" type="image/svg"><img src="files/facebook.svg"></picture>
			</a>
			<a href="#">
				<picture><source srcset="files/tg.svg" type="image/svg"><img src="files/tg.svg"></picture>
			</a>
		</div>
		<div class="date_act">
			<div class="name">Срок акции:</div>
			<div class="text">05.07.2021 - 03.10.2021</div>
		</div>
		<div class="right">
			<picture><source srcset="files/logo18.png" type="image/png"><img src="files/logo18.png"></picture>
		</div>
	</div>
	<div class="footer_text">Не рекомендуется употребление детьми в возрасте до 18 лет, при беременности и кормлении грудью, а также лицами, страдающими повышенной нервной возбудимостью, бессонницей, артериальной гипертензией. Содержит краситель, который может оказывать отрицательное влияние на активность и внимание детей. Рекомендуется потребление не более одной банки напитка в сутки</div>
</div>
</footer>
<div class="form-popup-wrapper code_form">
	<div class="formExtraWrapper">
		<div class="form-b">
			<form action="">
				<div class="title">Введите код</div>
				<div class="field">
					<input type="text" placeholder="">
				</div>
				<button class="btn bg">Продолжить</button>
			</form>         
		</div>
		<div class="close-form"><span></span></div>
	</div>
</div>
<div class="form-popup-wrapper lk_form">
	<div class="formExtraWrapper">
		<div class="form-b">
			<form action="">
				<div class="title">Войдите в личный кабинет</div>
				<div class="field">
					<div class="name_field">номер телефона</div>
					<input type="text">
				</div>
				<div class="field">
					<div class="name_field">Пароль</div>
					<input type="password">
				</div>
				<button class="btn bg">Зарегистрироваться</button>
			</form>         
		</div>
		<div class="close-form"><span></span></div>
	</div>
</div>
<div class="form-popup-wrapper pass_form">
	<div class="formExtraWrapper">
		<div class="form-b">
			<form action="">
				<div class="title">Измените пароль для входа</div>
				
				<div class="field">
					<div class="name_field">Старый пароль</div>
					<input type="password">
				</div>
				<div class="field">
					<div class="name_field">Новый Пароль</div>
					<input type="password">
				</div>
				<div class="field">
					<div class="name_field">повторите Новый Пароль</div>
					<input type="password">
				</div>
				<button class="btn bg">сохранить</button>
			</form>         
		</div>
		<div class="close-form"><span></span></div>
	</div>
</div>
<div class="form-popup-wrapper reg_form">
	<div class="formExtraWrapper">
		<div class="form-b">
			<form action="">
				<div class="title">Введите свои личные <br>данные для регистрации</div>				
				<div class="field">
					<div class="name_field">Фамилия</div>
					<input type="text">
				</div>
				<div class="field">
					<div class="name_field">Имя</div>
					<input type="text">
				</div>
				<div class="field radio">
					<div class="name">Пол</div>
					<ul>
						<li>
							<label><input type="radio" name="pol"><span></span>Муж</label>
						</li>
						<li>
							<label><input type="radio" name="pol"><span></span>Жен</label>
						</li>
					</ul>
				</div>
				<div class="field">
					<div class="name_field">Возраст</div>
					<input type="text">
				</div>
				<div class="field">
					<select name="" id="">
						<option value="">Регион</option>
						<option value="">Регион 1</option>
						<option value="">Регион 2</option>
					</select>
				</div>
				<div class="field">
					<div class="name_field">номер телефона</div>
					<input type="text">
				</div>
				<button class="btn bg">Зарегистрироваться</button>
			</form>         
		</div>
		<div class="close-form"><span></span></div>
	</div>
</div>
<script src="js/main.js" async></script>
</body>
</html>