<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" ></script>
</head>
<body class="m_bg main_page_bg">
<nav class="menu_burger">
	<div class="menuClose"><span></span></div>
	<div class="menu_scroll">
		<div class="menu_top">
			<ul>
				<li><a href="main.html">Главная</a></li>
				<li><a href="mexanika.html">Механика</a></li>
				<li class="active"><a href="pobiteli.html">Призы</a></li>
				<li><a href="aksii.html">Правила</a></li>
				<li><a href="prizi.html">победители</a></li>
			</ul>
		</div> 
	</div>
</nav> 
<div class="site_wrapper">
<header role="banner" class="header">
	<div class="header_inner block_inner">
		<div class="burger"><span></span></div>
		<div class="menu_header_wr">
			<ul>
				<li><a href="main.html">Главная</a></li>
				<li><a href="mexanika.html">Механика</a></li>
				<li class="active"><a href="pobiteli.html">Призы</a></li>
				<li><a href="aksii.html">Правила</a></li>
				<li><a href="prizi.html">победители</a></li>
			</ul>
		</div>
		<div class="btn_code">Ввести код с ключа</div>
		<div class="btn_lk">Личный кабинет</div>
		<div class="lang">
			<a href="#" class="active">RU</a>
			<a href="#">UZB</a>
		</div>
	</div>
</header>
<div class="content_block_wr">
	