include _header_inner.jade

<div class="block_inner sale_page">
	<h1 class="title_h1">Полные правила акции</h1>
	<div class="inner_sale">
		<div class="item_sale">
			<div class="title_sale">1. Общие положения</div>

			<p><strong>1.1</strong> Идейные соображения высшего порядка, а также реализация намеченных плановых заданий в значительной степени обуславливает создание новых предложений. </p>

			<p><strong>1.2</strong> Товарищи! дальнейшее развитие различных форм деятельности требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. </p>

			<p><strong>1.3</strong> Товарищи! новая модель организационной деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Разнообразный и богатый опыт укрепление и развитие структуры позволяет оценить значение новых предложений. </p>

			<p><strong>1.4</strong> Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации существенных финансовых и административных условий. </p>

			<p><strong>1.5</strong> Задача организации, в особенности же рамки и место обучения кадров позволяет выполнять важные задания по разработке систем массового участия.</p>
		</div>
		<div class="item_sale">
			<div class="title_sale">1. Общие положения</div>

			<p><strong>1.1</strong> Идейные соображения высшего порядка, а также реализация намеченных плановых заданий в значительной степени обуславливает создание новых предложений. </p>

			<p><strong>1.2</strong> Товарищи! дальнейшее развитие различных форм деятельности требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. </p>

			<p><strong>1.3</strong> Товарищи! новая модель организационной деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Разнообразный и богатый опыт укрепление и развитие структуры позволяет оценить значение новых предложений. </p>

			<p><strong>1.4</strong> Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации существенных финансовых и административных условий. </p>

			<p><strong>1.5</strong> Задача организации, в особенности же рамки и место обучения кадров позволяет выполнять важные задания по разработке систем массового участия.</p>
		</div>
	</div>
</div>

include _footer.jade