include _header_inner.jade

<div class="block_inner cabinet">
	<h1 class="title_h1">персональный кабинет</h1>
	<div class="cabinet_page">
		<div class="left">
			<div class="table_cabinet">
				<div class="table_title">
					<div class="row">№</div>
					<div class="row">Код</div>
					<div class="row">Статус кода</div>
					<div class="row">Дата регистрации</div>
					<div class="row">канал регистрации</div>
				</div>
				<div class="table_body">
					<div class="col">
						<div class="row">1</div>
						<div class="row">89dkkepp8955dkp</div>
						<div class="row">Принят</div>
						<div class="row">22.07.2021</div>
						<div class="row">Web</div>
					</div>
					<div class="col">
						<div class="row">2</div>
						<div class="row">89dkkepp8955dkp</div>
						<div class="row">Принят</div>
						<div class="row">22.07.2021</div>
						<div class="row">Web</div>
					</div>
					<div class="col">
						<div class="row">3</div>
						<div class="row">89dkkepp8955dkp</div>
						<div class="row">Принят</div>
						<div class="row">22.07.2021</div>
						<div class="row">Web</div>
					</div>
					<div class="col">
						<div class="row">4</div>
						<div class="row">89dkkepp8955dkp</div>
						<div class="row">Принят</div>
						<div class="row">22.07.2021</div>
						<div class="row">Web</div>
					</div>
					<div class="col">
						<div class="row">5</div>
						<div class="row">89dkkepp8955dkp</div>
						<div class="row">Принят</div>
						<div class="row">22.07.2021</div>
						<div class="row">Web</div>
					</div>
					<div class="col">
						<div class="row">6</div>
						<div class="row">89dkkepp8955dkp</div>
						<div class="row">Принят</div>
						<div class="row">22.07.2021</div>
						<div class="row">Web</div>
					</div>
					<div class="col">
						<div class="row">7</div>
						<div class="row">89dkkepp8955dkp</div>
						<div class="row">Принят</div>
						<div class="row">22.07.2021</div>
						<div class="row">Web</div>
					</div>
					<div class="col">
						<div class="row">8</div>
						<div class="row">89dkkepp8955dkp</div>
						<div class="row">Принят</div>
						<div class="row">22.07.2021</div>
						<div class="row">Web</div>
					</div>
					<div class="col">
						<div class="row">9</div>
						<div class="row">89dkkepp8955dkp</div>
						<div class="row">Принят</div>
						<div class="row">22.07.2021</div>
						<div class="row">Web</div>
					</div>
					<div class="col">
						<div class="row">10</div>
						<div class="row">89dkkepp8955dkp</div>
						<div class="row">Принят</div>
						<div class="row">22.07.2021</div>
						<div class="row">Web</div>
					</div>
				</div>
			</div>
			<ul class="page_number">
				<li><a href="#" class="btn_page prev"></a></li>
				<li><span class="active">1</span></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><div class="dotted">...</div></li>
				<li><a href="#">9</a></li>
				<li><a href="#" class="btn_page next"></a></li>
			</ul>
		</div>
		<div class="right">
			<div class="info_cabinet">
				<ul>
					<li>
						<span>Имя:</span><span class="val">Камила</span>
					</li>
					<li>
						<span>Фамилия:</span><span class="val">Маданиярова</span>
					</li>
					<li>
						<span>город:</span><span class="val">Ташкент</span>
					</li>
					<li>
						<span>Пол:</span><span class="val">женский</span>
					</li>
					<li>
						<span>Возраст:</span><span class="val">27 лет</span>
					</li>
					<li>
						<span>Номер телефона:</span><span class="val">+99890 804 55 23</span>
					</li>
				</ul>
				<div class="btn change_date">Изменить данные</div>
				<div class="btn change_password">изменить пароль</div>
			</div>
		</div>
	</div>
</div>

include _footer.jade