include _header.jade

<div class="main_page block_inner">
	<div class="title">твои <br>деньги <br>уже в банке</div>
	<div class="subtitle">призовой фонд акции</div>
	<div class="summa">
		<img src="files/summa.png" alt="">
	</div>
	<div class="list">
		<div class="item">
			<div class="number">
				<img src="files/1.svg" alt="">
			</div>
			<div class="right_i">
				<div class="name">купи</div>
				<div class="text">flash up</div>
			</div>
		</div>
		<div class="item">
			<div class="number">
				<img src="files/2.svg" alt="">
			</div>
			<div class="right_i">
				<div class="name">зарегистрируй</div>
				<div class="text">5 кодов</div>
			</div>
		</div>
		<div class="item">
			<div class="number">
				<img src="files/3.svg" alt="">
			</div>
			<div class="right_i">
				<div class="name">получи <span>от 5 000</span></div>
				<div class="text">до 100 000 сум*</div>
			</div>
		</div>
		<div class="item">
			<div class="number">
				<img src="files/4.svg" alt="">
			</div>
			<div class="right_i">
				<div class="name">выиграй</div>
				<div class="text">10 000 000 сум</div>
			</div>
		</div>
	</div>
	<div class="subtext">* на счёт мобильного</div>
</div>


include _footer.jade