include _header_inner_mex.jade

<div class="block_inner mexanik_page">
	<h1 class="title_h1">Механика</h1>
	<div class="number_block">
		<div class="item">
			<div class="number">1</div>
			<div class="name">купи</div>
			<div class="text">flash up</div>
		</div>
		<div class="item">
			<div class="number">2</div>
			<div class="name">зарегистрируй</div>
			<div class="text">5 кодов</div>
		</div>
		<div class="item">
			<div class="number">3</div>
			<div class="name">получи <span>от 5 000</span></div>
			<div class="text">до 100 000 сум*</div>
		</div>
		<div class="item">
			<div class="number">4</div>
			<div class="name">выиграй</div>
			<div class="text">10 000 000 сум</div>
		</div>
	</div>
	<div class="text_bottom">* на счёт мобильного</div>
	<div class="subtitle">призовой фонд акции</div>
	<div class="summa">
		<img src="files/summa.png" alt="">
	</div>
	<div class="title_w"><span>Внимание:</span> СОХРАНИ КЛЮЧ от банки <br>С УНИКАЛЬНЫМ КОДОМ ДО КОНЦА АКЦИИ!!!</div>
</div>

include _footer.jade