include _header_inner_pr.jade

<div class="block_inner pobeda prizi">
	<h1 class="title_h1">Победители</h1>
	<div class="subtitle">призовой фонд акции</div>
	<div class="summa">
		<img src="files/summa2.png" alt="">
	</div>
	<div class="subtitle_bottom">Главный приз</div>
	<div class="title_bottom">по <span>10 000 000 сум</span> <br>для 10 участников</div>
	<div class="slider_wrap">
		<div class="title">Победители  <span>акции</span></div>
		<div class="slider_p">
			<div class="item">
				<div class="img">
					<picture><source srcset="files/foto.jpg" type="image/jpg"><img src="files/foto.jpg"></picture>
				</div>
				<div class="name">Маданиярова Камила</div>
				<ul>
					<li>
						<span>город:</span><span class="val">Ташкент</span>
					</li>
					<li>
						<span>приз:</span><span class="val">Мобильный телефон</span>
					</li>
					<li>
						<span>дата получения:</span><span class="val">020.7.2021</span>
					</li>
				</ul>
				<a href="#">Смотреть видео</a>
			</div>
			<div class="item">
				<div class="img">
					<picture><source srcset="files/foto.jpg" type="image/jpg"><img src="files/foto.jpg"></picture>
				</div>
				<div class="name">Маданиярова Камила</div>
				<ul>
					<li>
						<span>город:</span><span class="val">Ташкент</span>
					</li>
					<li>
						<span>приз:</span><span class="val">Мобильный телефон</span>
					</li>
					<li>
						<span>дата получения:</span><span class="val">020.7.2021</span>
					</li>
				</ul>
				<a href="#">Смотреть видео</a>
			</div>
			<div class="item">
				<div class="img">
					<picture><source srcset="files/foto.jpg" type="image/jpg"><img src="files/foto.jpg"></picture>
				</div>
				<div class="name">Маданиярова Камила</div>
				<ul>
					<li>
						<span>город:</span><span class="val">Ташкент</span>
					</li>
					<li>
						<span>приз:</span><span class="val">Мобильный телефон</span>
					</li>
					<li>
						<span>дата получения:</span><span class="val">020.7.2021</span>
					</li>
				</ul>
				<a href="#">Смотреть видео</a>
			</div>
			<div class="item">
				<div class="img">
					<picture><source srcset="files/foto.jpg" type="image/jpg"><img src="files/foto.jpg"></picture>
				</div>
				<div class="name">Маданиярова Камила</div>
				<ul>
					<li>
						<span>город:</span><span class="val">Ташкент</span>
					</li>
					<li>
						<span>приз:</span><span class="val">Мобильный телефон</span>
					</li>
					<li>
						<span>дата получения:</span><span class="val">020.7.2021</span>
					</li>
				</ul>
				<a href="#">Смотреть видео</a>
			</div>
		</div>
	</div>			
</div>

include _footer.jade