include _header_inner_pr.jade

<div class="block_inner mexanik_page prizi">
	<h1 class="title_h1">Призы</h1>
	<div class="podarok_block">
		<div class="item">
			<div class="number">1</div>
			<div class="name_title">Найди <span>уникальный 9-ти значный код</span> под ключом банки <span>Flash Up</span></div>
		</div>
		<div class="item">
			<div class="number">2</div>
			<div class="name_title">Зарегистрируй код  на сайте <span>www.flashup-promo.uz</span> <br>или через СМС на номер <span>3800</span> или в чат-боте <span>telegram @flashupbot</span></div>
		</div>
		<div class="item">
			<div class="number">3</div>
			<div class="name_title">Обязательно <span>сохрани ключ до конца акции!</span></div>
		</div>
		
		<div class="item last_block">
			<div class="name_title">Гарантированный приз <span>от 5 000</span><br> <span>до 100 000 сум</span> на счет мобильного*</div>
			<div class="text">*При регистрации пятого кода. Количество призов ограничено. <br>Стоимость SMS согласно тарифному плану вашего оператора.</div>
		</div>
	</div>
	<div class="ph_block">
		<div class="subtitle_bottom">Главный приз</div>
		<div class="title_bottom">по <span>10 000 000 сум</span> <br>для 10 участников</div>
		<div class="image">
			<img src="img/phone.png" alt="">
		</div>
	</div>
</div>

include _footer.jade